/* MAIN WRAPPER */
.skills-wrapper {
 display: flex;
 gap: 20px; 
 max-width: 1200px;
 margin: 40px auto;
 padding: 0 10px;
 align-items: flex-start; 
}

/* LEFT SIDE */
.skills-text {
 flex: 1.3; 
 max-width: 300px;
}

.skills-text h2 {
  margin-top: 70px;
 font-size: 30px;
 font-weight: 700;
 line-height: 1.2;
}

.skills-text p {
 font-size: 14px;
 color: #555;
 margin-top: 12px;
 max-width: 500px;
}

/* RIGHT SIDE */
.skills-carousel {
 flex: 1.8;
 overflow: hidden;
 position: relative;
}

/* CARDS ROW */
.cards {
 display: flex;
 gap: 8px; 
 overflow-x: auto;
 scroll-behavior: smooth;
}

.cards::-webkit-scrollbar {
 display: none;
}

/* CARD */
.card {
 min-width: 260px;
 height: 350px;
 border-radius: 12px;
 overflow: hidden;
 position: relative;
 cursor: pointer;
 background: #eee;
}

/* IMAGE (FULL COVER — FIXED) */
.card img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

/* LABEL */
.card-label {
 position: absolute;
 bottom: 12px;
 left: 12px;
 right: 12px;

 background: white;
 padding: 12px;
 border-radius: 10px;

 font-size: 14px;
 font-weight: 500;

 display: flex;
 justify-content: space-between;
 align-items: center;
}


/* DRAG CURSOR */
.cards {
 cursor: grab;
}

.cards.dragging {
 cursor: grabbing;
}

/* SMOOTH FEEL */
.card {
 transition: transform 0.3s;
}

.card:hover {
 transform: scale(1.03);
}

/* ARROWS */
.arrow {
 position: absolute;
 top: 45%;
 transform: translateY(-50%);
 border: none;
 background: white;
 cursor: pointer;
 padding: 8px;
 border-radius: 50%;
 box-shadow: 0 2px 8px rgba(0,0,0,0.2);
 z-index: 2;
}

.arrow.left {
 left: -20px;
}

.arrow.right {
 right: -20px;
}

/* DOTS */
.dots {
 text-align: center;
 margin-top: 10px;
}

.dots span {
 display: inline-block;
 width: 6px;
 height: 6px;
 background: #ccc;
 border-radius: 50%;
 margin: 0 4px;
}

.dots .active {
 background: #6d28d9;
}


@media (max-width: 768px) {

 .skills-wrapper {
   flex-direction: column;
   gap: 20px;
 }

 .skills-text {
   max-width: 100%;
   text-align: left;
 }
 .skills-text em{
  font-style: italic;
 }
 

 .skills-text h2 {
   font-size: 32px;
   font-weight: 300;
 }

 .skills-text p {
   font-size: 13px;
 }

 /* CAROUSEL FULL WIDTH */
 .skills-carousel {
   width: 100%;
   overflow: hidden;
 }

 /* CARDS */
 .cards {
   gap: 10px;
   padding-left: 10px;
 }

 .card {
   min-width: 75%; 
   height: 200px;
 }

 /* LABEL */
 .card-label {
   font-size: 13px;
   padding: 10px;
 }

 /* DOTS */
 .dots {
   margin-top: 12px;
 }
}